.snapshot_grid {
    height: 13.8mm;
}

.snapshot_grid TextView {
    height: 53%;
}

.snapshot_grid Button{
  height: 30%;
  width: 12.7mm;

  font: 60% arial;
}
/*
.top_navigator {
    height: 6.7mm;
    dock-align: top;
    background-color: #ffffff;
    /padding-right: 16.3mm;
}*/
.green_mark {
  height: 100%;
  width: 0.5mm;
  dock-align: left;
  background-color: #00a86b;
}

.red_mark {
  height: 100%;
  width: 0.5mm;
  dock-align: left;
  background-color: #ffc0cb;
}

.forward_gray {
      width: 100%;
      height: 100%;
      margin-right: 1mm;
      padding-top: 26%;
      text-align: right;
      dock-align: right;
      color: #8e8e93;
      font: 39.5% arial;
  }

  .forward_orange {
        width: 100%;
        height: 100%;
        margin-right: 1mm;
        padding-top: 26%;
        text-align: right;
        dock-align: right;
        color: #b96f18;
        font: 39.5% arial;
    }
