body {
    background-color: #efeff4;
}

.emptyRecordSet {
	width: 100%;
	height: 50%;
	text-align: center;
	margin-top: 30%;
	color: #c0c0c0;
	padding-top: 80%;	
}

line {
    width: 100%;
    height: 1px;
    background-color: #736a60;
    dock-align: top;
}

sv {
    width: 100%;
    height: 100%;
    background-color: #efeff4;
}

    sv dl {
        background-color: #ffffff;
    }

    sv vl {
        background-color: #ffffff;
    }

    sv hl {
        background-color: #ffffff;
    }

vl {
    width: 100%;
    height: 100%;
}

hl {
    width: 100%;
}

dl {
    width: 100%;
    height: 100%;
}

    dl hl {
        width: 100%;
        height: 100%;
    }

shl {
    width: 100%;
    height: 100%;
}

svl {
    width: 100%;
    height: 100%;
}

TextView {
    background-color: none;
    color: #000000;
}

Button {
    color: #e6891b;
}

MemoEdit {
    color: #2d89cf;
    background-color: #ffffff;
}

.footer {
	height: 7.6sp;
    dock-align: bottom;
	background-color: #ffffff;
}

.top_navigator {
    height: 7.6sp;
    dock-align: top;
	width: 100%;
}

    .top_navigator hl {
        width: 100%;
        height: 100%;
        dock-align: top;
    }

        .top_navigator hl TextView {
            width: 100%;
            height: 100%;
            margin-left: 5%;
            padding-top: 25%;
            text-align: center;
            color: #000000;
            font: 38% Arial;
        }

.btn_menu {
    width: 17%;
    height: 100%;
    dock-align: left;
    margin-right: 0%;
    margin-left: 2%;
}

    .btn_menu menuIcon {
        background-image: url(button_menu.png);
        height: 37%;
        margin-top: 30%;
        margin-left: 5%;
        margin-bottom: 20%;
    }

.btn_forward {
    width: 23%;
    height: 100%;
    dock-align: right;
    margin-right: 2%;
    margin-left: 11%;
    color: #b96f18;
    text-align: right;
    font: 42% arial;
}

.btn_back {
    width: 30%;
    height: 100%;
    dock-align: left;
}

    .btn_back TextView {
        width: 100%;
        height: 100%;
        margin-left: 5%;
        padding-top: 25%;
        text-align: left;
        color: #b96f18;
        font: 41% arial;
    }

    .btn_back img {
        background-image: url(arrow_left.png);
        margin-top: 24%;
        margin-left: 5%;
        height: 50%;
    }

.mode_left_button_on {
    background-image: url(mode_left_button_on.png);
    width: 48%;
    height: 67%;
    margin-top: 5.7%;
    margin-left: 2%;
}

    .mode_left_button_on select_zone {
        selected-color: #b96f18;
    }

        .mode_left_button_on select_zone TextView {
            color: #f8f8f8;
        }

.mode_right_button_off {
    background-image: url(mode_right_button_off.png);
    width: 48%;
    height: 67%;
    margin-top: 5.7%;
}

    .mode_right_button_off select_zone TextView {
        color: #b96f18;
    }

.mode_right_button_on {
    background-image: url(mode_right_button_on.png);
    width: 48%;
    height: 67%;
    margin-top: 5.7%;
}

    .mode_right_button_on select_zone {
        selected-color: #b96f18;
    }

        .mode_right_button_on select_zone TextView {
            color: #f8f8f8;
        }

.mode_left_button_off {
    background-image: url(mode_left_button_off.png);
    width: 48%;
    height: 67%;
    margin-top: 5.7%;
    margin-left: 2%;
}

    .mode_left_button_off select_zone TextView {
        color: #b96f18;
    }

.small_grid {
    height: 7.6%;
    selected-color: #bacdce;
    dock-align: top;
}

    .small_grid hl select_zone {
        width: 90%;
        height: 90%;
        margin-top: 5%;
        margin-left: 5%;
    }

        .small_grid hl select_zone TextView {
            width: 100%;
            height: 100%;
            text-align: center;
            padding-top: 20%;
            font: 50% arial;
        }

.search {
    height: 7.6sp;
    background-color: #d6d9dd;
    dock-align: top;
}

    .search dl {
        height: 64%;
        width: 75%;
        vertical-align: central;
        margin-left: 2%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-style: solid;
        border-width: 1px;
        border-color: #ffffff;
        border-radius: 10px;
        background-color: #ffffff;
    }

        .search dl img {
            background-image: url(search.png);
            height: 46.4%;
            margin-top: 20%;
            margin-left: 2%;
            margin-right: 1.5%;
            background-color: #ffffff;
            dock-align: left;
        }

    .search Button {
        margin-left: 2%;
        margin-top: 18%;
        width: 19%;
        height: 64%;
        background-color: #e6891b;
        color: #f8f8f8;
        border-style: solid;
        border-width: 1px;
        border-color: #43acfd;
        border-radius: 10px;
        font: 55% arial;
    }

    .search dl EditText {
        width: auto;
        height: 100%;
        margin-right: 2%;
        padding-top: 10%;
        background-color: #ffffff;
        color: #000000;
        border-style: none;
        dock-align: right;
        font: 60% arial;
    }


.caption_grid {
    height: 7.6sp;
    selected-color: #bacdce;
    background-color: #efeff4;
    dock-align: top;
}

    .caption_grid TextView {
        width: 100%;
        height: 50%;
        text-align: left;
        margin-left: 3.5%;
        margin-top: 50%;
        white-space: nowrap;
        font: 60% arial;
        color: #4d4d4d;
    }

.empty_caption_grid {
    height: 3.8sp;
    selected-color: #bacdce;
    background-color: #efeff4;
    dock-align: top;
}

.margin_top {
    height: 5sp;
    selected-color: #bacdce;
    background-color: #efeff4;
    dock-align: top;
}

.end_of_block {
    height: 2.5sp;
    selected-color: #bacdce;
    background-color: #efeff4;
    dock-align: top;
}

.grid {
    height: 15.9sp;
    width: 100%;
    background-color: #ffffff;
}

    .grid line {
        width: 100%;
        height: 1px;
        background-color: #c8c7cc;
    }

    .grid img {
        height: 15.4%;
        margin-top: 16%;
        margin-left: 2.5%;
        background-image: url(arrow.png);
    }
    
    .grid iphone {
        height: 8%;
        width: 9%;
        margin-top: 30%;
        margin-bottom: 30%;
        margin-right: 2.5%;
        margin-left: 20%;
        background-image: url(phone.png);
    }

    .grid vl {
        width: 100%;
        height: 100%;
        padding-top: 11%;
        padding-left: 5%;
    }

        .grid vl MemoEdit {
            height: 60%;
            width: 90%;
            font: 30% Arial;
        }

        .grid vl EditText {
            height: 60%;
            width: 90%;
            font: 30% Arial;
            color: #2d89cf;
        }

        .grid vl dl {
            height: 21%;
            width: 100%;
        }

            .grid vl dl TextView {
                width: 100%;
                height: 100%;
                margin-top: 5%;
                white-space: normal;
                font: 68% Arial;
                color: #8e8e93;
                dock-align: left;
            }

            .grid vl dl Button {
                width: 32%;
                height: 100%;
                dock-align: right;
                margin-left: -32%;
                margin-right: 3%;
                margin-top: 0%;
                border-style: solid;
                border-width: 2px;
                border-color:  #e6891b;
                border-radius: 5px;
                color:  #e6891b;
                text-align: center;
                font: 65% arial;
            }


.main_row {
    width: 100%;
    height: 40%;
    white-space: normal;
    font: 42% Arial;
}

.description_row {
    width: 100%;
    height: 23%;
    white-space: normal;
    font: 80% Arial;
    color: #8e8e93;
}

.yellow_mark {
    background-image: url(yellow_mark.png);
    height: 0%;
    width: 4.1%;
    margin-left: 2%;
    margin-right: 0%;    
}

.no_mark {
    height: 100%;
    width: 6.1%;
}

.1_scroll {
    background-image: url(scroll_1.png);
    width: 100%;
    height: 2px;
}

.2_scroll {
    background-image: url(scroll_2.png);
    width: 100%;
    height: 2px;
}

.3_scroll {
    background-image: url(scroll_3.png);
    width: 100%;
    height: 2px;
}

.4_scroll {
    background-image: url(scroll_4.png);
    width: 100%;
    height: 2px;
}

.5_scroll {
    background-image: url(scroll_5.png);
    width: 100%;
    height: 2px;
    dock-align: top;
}

.6_scroll {
    background-image: url(scroll_6.png);
    width: 100%;
    height: 2px;
    dock-align: top;
}

.7_scroll {
    background-image: url(scroll_7.png);
    width: 100%;
    height: 2px;
    dock-align: top;
}

.parameter_grid {
    width: 100%;
    height: 7.8sp;
    dock-align: top;
}

    .parameter_grid TextView {
        width: 70%;
        height: 100%;
        margin-left: 3.5%;
        padding-top: 30%;
        color: #b96f18;
        dock-align: left;
        font: 36% arial;
    }

    .parameter_grid img {
        height: 35%;
        margin-left: 15%;
        margin-top: 35%;
        background-image: url(arrow.png);
        dock-align: left;
    }

    .parameter_grid EditText {
        width: 74%;
        height: 100%;
        color: #2d89cf;
        padding-top: 30%;
        dock-align: left;
        font: 37% arial;
    }

.tick {
    height: 35%;
    margin-left: 3%;
    margin-top: 35%;
    background-image: url(tick.png);
    dock-align: left;
}

.empty_tick {
    width: 8%;
    height: 100%;
    dock-align: left;
}

.child_tick {
    height: 35%;
    margin-left: 13%;
    margin-top: 35%;
    background-image: url(tick.png);
    dock-align: left;
}

.child_empty_tick {
    width: 18%;
    height: 100%;
    dock-align: left;
}

.yes_TextView {
    width: 25%;
    height: 100%;
    margin-left: 3.5%;
    color: #2d89cf;
    dock-align: left;
    font: 37% arial;
}

.yes_button {
    width: 29.4%;
    height: 50%;
    margin-top: 25%;
    margin-left: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: #43acfd;
    border-radius: 5px;
    color: #2d89cf;
    text-align: center;
    font: 63% arial;
}

.value {
    width: 100%;
    height: 100%;
    white-space: normal;
    margin-right: 4%;
    font: 28% Arial;
    color: #8e8e93;
    dock-align: right;
    text-align: right;
}

.action_and_value {
    width: 26%;
    height: 100%;
    white-space: normal;
    margin-right: 10%;
    font: 28% Arial;
    color: #8e8e93;
    dock-align: right;
    text-align: right;
}

.b_line {
    width: 100%;
    height: 2px;
    dock-align: bottom;
    background-color: #c8c7cc;
}

.bottom_btn {
    width: 100%;
    height: 7.5sp;
    dock-align: bottom;
    selected-color: #bacdce;
    background-color: #fff;
}

    .bottom_btn TextView {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 25%;
        color: #2d89cf;
        font: 37% arial;
    }

    .bottom_btn line {
        width: 100%;
        height: 1px;
        dock-align: bottom;
        background-color: #c8c7cc;
    }

    .bottom_btn vl {
        width: 50%;
        height: 100%;
        selected-color: #bacdce;
    }

        .bottom_btn vl TextView {
            width: 100%;
            height: 100%;
            text-align: center;
            color: #2d89cf;
            font: 37% arial;
        }

.left_tv {
    width: 100%;
    height: 100%;
    text-align: left;
    padding-top: 25%;
    padding-left: 10%;
    color: #2d89cf;
    font: 37% arial;
}

.right_tv {
    width: 100%;
    height: 100%;
    text-align: right;
    padding-top: 25%;
    padding-right: 10%;
    color: #2d89cf;
    font: 37% arial;
}

.memo_block {
    height: 48sp;
}
 

    .memo_block vl {
        width: 98%;
        height: 90%;
        margin-top: 5%;
        margin-left: 3.5%;
        padding-left: 0%;
    }

        .memo_block vl description_row {
            height: 9%;
        }

        .memo_block vl MemoEdit {
            height: 80%;
            width: 100%;
            margin-left: 0%;
            font: 12% Arial;
            color: #b96f18;
        }
