.green_mark {
  height: 100%;
  width: 0.5mm;
  dock-align: left;
  background-color: #00a86b;
}

.red_mark {
  height: 100%;
  width: 0.5mm;
  dock-align: left;
  background-color: #ffc0cb;
}

.top_navigator {
    height: 6.7mm;
    dock-align: top;
    background-color: #ffffff;
    padding-right: 16.3mm;
}
