.btn_forward {
    margin-left: 0%;
}

dl {
	 background-color: #efeff4;
}

.footer {
	height: 7.6sp;
    dock-align: bottom;
	background-color: #ffffff;
}

.grid vl dl Button {
    width: 45%;
    margin-left: -45%;
}

.grid vl dl {
	background-color: #ffffff;
}

.grid vl hl {
    width: 100%;
    height: 30%;
    margin-top: -42%;
}

    .grid vl hl Indicator {
        height: 100%;
        color: #e6891b;
    }

    .grid vl hl TextView {
        width: 100%;
        height: 80%; 
        margin-top: 10%;       
        margin-left: 2%;
        font: 80% Arial-ItalicMT;
        color: #e6891b;
    }

.main_row {
    margin-top: 20%;
}

.btn_one_footer {
	width: 100%;
	height: 100%;
}

.btn_one_footer TextView {
            width: 100%;
            height: 100%;
            margin-left: 0%;
            padding-top: 25%;
            text-align: center;
            color: #e6891b;
            font: 38% Arial;
        }


.red_row {
	width: 100%;
    height: 40%;
    white-space: normal;
    font: 42% Arial;
	margin-top: -40%;
	color: #f74747;
}

.free_space {
    background-color: #efeff4;
}
