.top_navigator {
    height: 6.7mm;
    dock-align: top;
    background-color: #ffffff;
    padding-right: 16.3mm;
}

.btn_left_footer
{
width: 40%;
height: 100%;
dock-align: left;
}

	.btn_left_footer TextView {
            width: 100%;
            height: 100%;
            margin-left: 0%;
            padding-top: 25%;
            text-align: center;
            color: #b96f18;
            font: 38% Arial;
        }

.btn_right_footer
{
width: 40%;
height: 100%;
dock-align: right;
}

	.btn_right_footer TextView {
            width: 100%;
            height: 100%;
            margin-left: 0%;
            padding-top: 25%;
            text-align: center;
            color: #b96f18;
            font: 38% Arial;
        }

.green_mark {
  height: 100%;
  width: 0.5mm;
  dock-align: left;
  background-color: #00a86b;
}

.red_mark {
  height: 100%;
  width: 0.5mm;
  dock-align: left;
  background-color: #ffc0cb;
}

.memo_block {
    height: 24sp;
}
  .memo_block vl MemoEdit{
    font: 22% Arial;
  }
